html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-header-footer {
    background-color: #b30000 !important;
    color: white !important;
}

.custom-header-footer a {
    color: white !important;
}

#sidebarMenu.offcanvas-start {
    width: 80px;
}

#sidebarMenu .list-group-item {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#sidebarMenu .bi {
    font-size: 1.2rem;
}

#sessionTimer {
    display: inline-block;
    min-width: 10px;
    text-align: center;
}

.bg-custom-light-blue {
    background-color: #e6f1fc !important;
}